*{
    padding: 0px;
    margin: 0px;
    font-family: "Century Gothic", "Arial", sans-serif;
}

#toppfelt{
    display: flex;
    flex-direction: row;
    background-color: aquamarine;
    color: black;
    height: 60px;
    width: 100vw;
}

#logo{
    font-size: 40px;
    width: 100px;
}
#tittel{
    width: calc(100vw - 100px);
    text-align: center;
    padding-top: 8px;
}

#burger{
    font-size: 40px;
    font-weight: bold;
    position: absolute;
    top: -1px;
    right: 18px;
    cursor: pointer;
}


#veksler{
    display: none;
}

#meny{
    background-color: greenyellow;
    width: 200px;
    height: 150px;
    position: absolute;
    right: 0px;
    top: 60px;
    display:none
    
}
#meny a{
    font-size: 30px;
    color: blanchedalmond;
    font: "Arial";
    font-weight: bold;
    text-decoration: none;
    padding-left: 45px;
}
#meny a:hover{
    text-decoration: underline;
}
#meny ul{
    list-style: none;
    text-align: left;
}
#meny li{
    border-bottom: 1px solid white;
}
#veksler:checked ~ #meny{
    display:block;
}
